[submodule "parladata"]
	path = parladata
	url = https://github.com/danesjenovdan/parladata
[submodule "parlanode"]
	path = parlanode
	url = https://github.com/danesjenovdan/parlanode
[submodule "parlasearch"]
	path = parlasearch
	url = https://github.com/danesjenovdan/parlasearch
[submodule "parlasite"]
	path = parlasite
	url = https://github.com/danesjenovdan/parlasite
[submodule "parlamint-parser"]
	path = parlamint-parser
	url = https://github.com/danesjenovdan/parlamint-parser
